.menu-pesquisa{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.btn-exel , .btn-pdf{
    margin-left: 1%;
}


.div-tabela{
    margin-top: 1%;
    height: 75vh;
    width: 100%;
    overflow-y: auto;
}


thead{
    position: sticky;
    top: -1px;
    z-index: 5;
    background-color: black;
    color: white;
}


.oculta_relatorio{
    display: none;
}
